body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom right, #190838, #1f0241, #19033d);
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    background: rgba(255, 255, 255, 0.1);
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h2 {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 15px;
}

img {
    margin-bottom: 10px;
    border-radius: 50%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 14px;
    color: #f0e7f5;
    margin-bottom: 5px;
}

input, select {
    padding: 8px;
    border: 1px solid #444;
    border-radius: 5px;
    background: #a09e9e;
    color: #333;
    font-size: 14px;
    outline: none;
    transition: border 0.3s;
}

input:focus, select:focus {
    border: 1px solid #6a097d;
}

button {
    padding: 8px;
    border: none;
    border-radius: 5px;
    background: #9b73be;
    color: rgb(27, 26, 26);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

button:hover {
    background: #666566;
    transform: scale(1.05);
}

.error {
    background: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: left;
}

.login-link {
    display: block;
    margin-top: 15px;
    color: #e0c3f0;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.login-link:hover {
    color: white;
}
